{% extends 'base.html' %}
{% block content %}
<!--{{ data.dataset }}-->
<!--{{ obj }}-->
<div class="container">
    <form method = "post" >
        
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Author Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="author_name">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Genrer</label>
            <select class="form-select form-select-md mb-3" aria-label=".form-select-md example" name="genre">
                <option selected>Select Genre</option>
                <option value="male">Drama</option>
                <option value="female">Love Story</option>
                <option value="other">Fiction</option>
                <option value="mystery">Mystery</option>
                <option value="science fiction">Science Fiction</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Publisher Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="publisher_name">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Country</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="country">
        </div>
        
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
</div>
{% endblock %}